<div class="container">
	<div class="row">
	  <div class="col-md-8" style="background-color: #18BC9C;padding-bottom: 10px;padding-top: 10px">
		<div style="font-size: 50px;padding-left: 50px">
			<%=image_tag "profile.png"%>
			<%= @greeting %>
		</div>
	</div>	
</div>
<p><%= @time_now %></p>
<h1><a href="course_tables.html">Show CourseSelect Tables</a></h1>
<h1><a href="http://www.ucas.ac.cn">click here to UCAS</a></h2>
<h1><a href="bye.html">Bye~bye</a></h3>
<p><%=@time_noww%></p>
